{% extends 'features/srbase.html' %}

{% block body %}
    <h2 style="text-align:center;"><span class="sty" style="font-size:50px;color:black;">Search Trains </span></h2>
    <br/><br/>
    <br/><br/>
    <form class="form-inline" style="margin-left:200px;"action="trains" method="POST">
        {% csrf_token %}
        <span class="sty" style="font-size:30px;color:black;">Source:</span><select name="src">
            {% for i in a %}
            <option value="{{i.sid}}">{{i.sname}}</option>
            {%endfor%}
        </select>
        <span class="sty" style="font-size:30px;color:black;">Destination:</span>
        <select name="des">
            {% for i in a %}
            <option value="{{i.sid}}">{{i.sname}}</option>
            {%endfor%}
        </select>
        &nbsp
        <input class="btn btn-success" type="submit" value="Search">
    </form>
{% endblock%}